/**
 * Include some default Library 
 *
 */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.democontent {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.democontent:after {
  content: " ";
  display: block;
  clear: both;
}
.democontent .left_content {
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}
.democontent .right_content {
  width: 50%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}
.democontent .fullwidth {
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

.demo {
  border-radius: 10px;
  box-shadow: 2px #ccc;
}
