@import "compass";
@import "susy";
@import "breakpoint";
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";
// Importing our custom variables for this template
@import "variables";

$susy: (
  columns: 12,
  gutters: 0.45,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@include border-box-sizing;

body {
    background: #fff;    
}





// Add Extra Custom Responsive Responsive Code 

@import "responsive"; 

