@import "compass";
@import "susy";
@import "breakpoint";
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";
// Importing our custom variables for this template
@import "variables";

$susy: (
  columns: 12,
  gutters: 0.45,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@include border-box-sizing;

body {
    background: #fff;    
}

.democontent {
  transition: all 0.2s ease;
  display: flex;
  border-radius: 10px;
    @include container(1170px);
    .left_content {
        @include span(12);
    }
    .right_content {
        @include span(6);
    }
    .fullwidth {
        @include span(12);
    }
}



// Add Extra Custom Responsive Responsive Code 

@import "responsive"; 

